@import "variables.less";
@import "mixins";

.b-favorites {
	margin-bottom: 20px;
}

.b-favorites__select {
	margin-top: 35px;
}

.b-favorites__slider {
	display: none;
}

.b-favorites__labels {
	display: none;
}

.b-favorites__list {
	margin-top: 29px;

	.b-catalog__button {
		display: none;
	}

	.b-properties > .b-properties__item:nth-child(n+4) {
		display: none;
	}
}

@media (min-width: @screen-sm-min) {

	.b-favorites {
		margin-top: 25px;
		margin-bottom: 0;

		.b-catalog__list {
			display: block;
			.clearfix();
		}
		.b-catalog__item {
			float: left;
			width: 255px;
			//width: 180px;
			border: none;
			padding-left: 0;
			padding-right: 0;

			&:last-child {
				margin-right: 0;
			}
		}
		.b-catalog__price {
			right: 0;
		}
		.b-catalog-offer {
			right: 0;
		}
		.b-properties__title {
			display: none;
		}
		.b-properties__dots {
			display: none;
		}
	}

	.b-favorites__select {
		display: inline-block;
		width: 280px;
		margin-top: 0;
		margin-left: 30px;
		position: relative;
		top: -10px;
	}

	.b-favorites__slider {
		display: block;
		position: relative;
		height: 10px;
		margin-bottom: 1px;
	}

	.b-favorites__labels {
		display: block;
		padding-top: 304px;
	}

	.b-favorites__label {

	}

	.b-favorites__list {
		margin-top: 0;
		margin-right: -10px;

		.b-catalog__button {
			display: block;
		}

		.b-properties > .b-properties__item:nth-child(n+4) {
			display: block;
		}

		.b-catalog__favorite_remove {
			left: -5px;
			top: 15px;
			width: 24px;
			height: 24px;
		}
	}
}

@media (min-width: @screen-md-min) {
	.b-favorites {
		.b-catalog__item {
			width: (660px/3)-10px;
		}
	}
}

@media (min-width: @screen-lg-min) {
	.b-favorites {
		.b-catalog__item {
			width: 180px;
		}
	}
}

/******************* EXTERNAL SCROLLBAR *******************/

.external-scroll_x,
.external-scroll_y {
	cursor: pointer;
	display: none;
	position: absolute;

	background: #fafafa;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
	border-radius: 3px;
}

.external-scroll_x.scroll-scrollx_visible {
	display: block;
	height: 10px;
	width: 100%;
}

.external-scroll_x div,
.external-scroll_y div {
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
}

.external-scroll_x .scroll-bar {
	width: 180px;

	background: linear-gradient(to bottom, #005426, #007b38);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
	border: 3px solid #006e32;
	border-radius: 3px;
}

