@import "variables.less";
@import "mixins";

.b-objects {
	margin: 35px 0 20px;
}

.b-objects__item {
	margin: 0 0 20px;

	position: relative;
	border: 1px solid #e0e0e0;
	padding: 0 20px 4px;
}

.b-objects__img {
	display: block;
	margin: -1px -21px 0;
}

.b-objects__status {
	position: absolute;
	right: -1px;
	top: 14px;
	width: 119px;
	height: 40px;
	text-align: right;
	padding-right: 20px;

	color: #fff;
	line-height: 40px;

	background: linear-gradient(to left, #6e1478, #aa3282);
}

.b-objects__status_done {
	background: linear-gradient(to right, #007b38, #005426);
}

.b-objects__title {
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 25px;
	text-decoration: underline;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.b-objects__distinct {

}

.b-objects__text {
	display: none;
}

.b-objects__properties {

}

@media (min-width: @screen-xs-min) {
	.b-objects {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin-left: -10px;
		margin-right: -10px;
	}

	.b-objects__item {
		width: ~"calc(100%/2 - 20px)";
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (min-width: @grid-float-breakpoint) {
	.b-objects__item {
		width: ~"calc(100%/3 - 20px)";

		display: flex;
		flex-direction: column;
	}

	.b-objects__text {
		display: block;
		flex: 1;
	}
}
