@import "variables.less";
@import "mixins";

.b-card-object {

}

.b-card-object__title {
	font-size: 20px;
	line-height: 25px;
	text-decoration: underline;
	display: inline-block;
	margin-bottom: 15px;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.b-card-object__image {
	position: relative;
	margin-bottom: 35px;
}

.b-card-object__status {
	line-height: 40px;
	color: #fff;
	background: linear-gradient(to left, #6e1478, #aa3282);
	text-align: right;
	padding-right: 20px;

	position: absolute;
	top: 20px;
	right: 0;
	width: 120px;
}

.b-card-object__status_done {
	background: linear-gradient(to right, #007b38, #005426);
}

.b-card-object__properties {

}

