@import "variables.less";
@import "mixins";

.b-splash-objects {
	margin-left: -20px;
	margin-right: -20px;

	text-align: center;
	color: #ffffff;

	margin-top: -45px;
	margin-bottom: 35px;
}

.b-splash-objects__header {
	font-size: 27px;
	line-height: 30px;
	text-shadow: 0 3px 7px rgba(0, 0, 0, .25);
	margin-bottom: 15px;
}

.b-splash-objects__list {

}

.b-splash-objects__item {
	position: relative;
	text-shadow: 0 0 10px #000;
	color: #ffffff;
	display: block;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #fff;
	}
}

.b-splash-objects__image {

}

.b-splash-objects__content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 40%, rgba(33, 33, 33, .85) 100%);

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;

	padding-bottom: 5px;
}

.b-splash-objects__title {
	font-size: 20px;
	line-height: 25px;
}

.b-splash-objects__distinct {
	text-transform: uppercase;
	margin-bottom: 0;
}

.b-splash-objects__address {

}

@media (min-width: @screen-xs-min) {
	.b-splash-objects__list {
		.clearfix();
	}

	.b-splash-objects__item {
		float: left;
		width: 100%/2;
	}
}

@media (min-width: @screen-md-min) {
	.b-splash-objects__item {
		width: 100%/3;
	}
}
