@import "variables.less";
@import "mixins";

.b-splash {
	background: center center no-repeat url("../../assets/img/main_bg.jpg");
	background-size: cover;

	margin: -@navbar-margin-bottom -20px 0;
	padding: @navbar-margin-bottom 20px 80px;

	.b-header {
		padding: 0;
	}

	.center-block {
		float: none;
	}
}

.b-splash__title {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	margin: 20px 0 10px;
}

.b-splash__lead {
	text-align: center;
	margin-bottom: 0;
}

.b-splash__filter {
	background: #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
	padding: 20px;
	padding-top: 15px;
	margin: 35px -20px 0;
}

@media (min-width: @grid-float-breakpoint) {
	.b-splash__title {
		font-size: 27px;
		line-height: 30px;

		margin-top: 0;
	}

	.b-splash__lead {
		font-size: 20px;
		line-height: 25px;
	}

	.b-splash__filter {
		border-radius: 10px;

		.b-filter__checkbox {
			display: flex;
			flex-flow: row nowrap;
		}
		.b-filter__item {
			margin-bottom: 19px;
		}
	}

	.b-splash__text {
		margin-top: -15px;
		margin-bottom: 35px;
	}
}
