extends ./layouts/layout.jade

block content
    h1.b-page__title Об агентстве

    .b-text.g-mb40
        p Наша компания была создана летом 2007 года, на базе отдела продаж ведущего застройщика г. Екатеринбурга ЗАО «Наш дом». Сегодня Агентство недвижимости "НКС" работает в различных сегментах рынка, но основным направлением деятельности является продажа квартир в строящихся или новых построенных домах.
        p: img(src='http://placehold.it/580x360', alt='')
        p Главными принципами работы нашего агентства является забота об интересах клиента, индивидуальный подход и профессионализм в сфере операций с недвижимостью. Для реализации данных принципов, сотрудники компании уже на стадии проектирования домов разрабатывают рекомендации для застройщиков, направленные на удовлетворение нужд населения в комфортном жилье. Вырабатывается ценовая политика, направленная на снижение стоимости квартир, проводятся маркетинговые исследования рынка недвижимости и опросы населения.
        p АН "НКС" сотрудничает с различными строительными компаниями г. Екатеринбурга, результатом чего является большой выбор новостроек в таких микрорайонах города как ВИЗ, Юго-Западный, Автовокзал, Пионерский, ЖБИ и Центральный.
        p Вы сможете подобрать жилье на любой вкус и кошелек – в активе АН "НКС" представлены объекты различных классов («эконом», «комфорт», «бизнес»), с различными уровнями отделки, готовые или строящиеся и т.д. Понравившуюся Вам квартиру можно приобрести в рассрочку либо с привлечением заемных средств. Для этого АН "НКС" выстроило партнерские отношения с ведущими банками региона – Сбербанк, Газпромбанк, ВТБ24 и Банк Москвы. Наша компания была создана летом 2007 года, на базе отдела продаж ведущего застройщика г. Екатеринбурга ЗАО «Наш дом». Сегодня Агентство недвижимости "НКС" работает в различных сегментах рынка, но основным направлением деятельности является продажа квартир в строящихся или новых построенных домах. Главными принципами работы нашего агентства является забота об интересах клиента, индивидуальный подход и профессионализм в сфере операций с недвижимостью. Для реализации данных принципов, сотрудники компании уже на стадии проектирования домов разрабатывают рекомендации для застройщиков, направленные на удовлетворение нужд населения в комфортном жилье. Вырабатывается ценовая политика, направленная на снижение стоимости квартир, проводятся маркетинговые исследования рынка недвижимости и опросы населения.

        table
            thead
                tr
                    th Слова или 1234
                    th Слова или 1234
                    th Слова или 1234
                    th Слова или 1234
            tbody
                tr
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
                tr
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
                tr
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
                    td Слова или 1234
        ol
            li Элемент списка
            li Элемент списка
            li Элемент списка
        ul
            li Элемент списка
            li Элемент списка
            li Элемент списка
