extends ./layouts/layout.jade

block content
    .clearfix
        .pull-left
            .b-favorite.b-favorite_active добавить в избранное
        .pull-right
            .b-card-status.b-card-status_done Квартира готова, можно заезжать!

    h1.b-page__title
        | Квартира
        .b-card-property #[span.b-card-property__value 2] комнаты
        .b-card-property от #[span.b-card-property__value 132] м#[sup 2]
        .b-card-property #[span.b-card-property__value 2-15] этаж
        .b-card-property.b-card-property_right от #[span.b-card-property__value 2 598 442] руб

    .b-card
        .row
            .col-md-9.col-sm-8
                .visible-xs
                    a.btn.btn-lg.btn-success.btn-block.b-card__button(href='#') Оставить заявку
                .b-card-offer.b-card__offer
                    .b-card-offer__image
                        img.img-responsive(src='http://placehold.it/280x140', alt='')
                    p.b-card-offer__title #[span.b-card-offer__label Акция!] Квартира + паркинг по цене квартиры!
                    .b-card-offer__text
                        p С вопросом парковки автомобиля сталкивается каждый новосел. Но лучше позаботится об этом до переезда и заранее быть уверенным, что у автомобиля всегда будет свое место в подземном паркинге, куда, кстати можно попасть прямо из лифта. Поэтому мы разработали специальное предложение, выгодное для вас и для вашего авто – Квартира с паркингом по цене квартиры!

                .b-card__images
                    .row
                        .col-sm-8
                            .b-card__image
                                img.img-responsive(src='http://placehold.it/580x580', alt='')
                        .col-sm-4
                            a.b-card__image(href='#zoom', data-url="http://placehold.it/1580x1580")
                                img.img-responsive(src='http://placehold.it/280x280', alt='')
                            .hidden
                                #zoom.b-card__image_zoom(data-url="http://placehold.it/1580x1580")
                                    img(src='http://placehold.it/1580x1580', alt='')

                            .visible-xs
                                .b-card-object.b-card__object
                                    a.b-card-object__title(href='object.html') ЖК «Квартал Художников»

                                    .b-card-object__image
                                        img.img-responsive(src='http://placehold.it/280x210', alt='')

                                        .b-card-object__status.b-card-object__status_done Строится
                                    .b-object-properties.b-card-object__properties
                                        each property in object.properties
                                            .b-object-properties__item
                                                p.b-object-properties__title= property.title

                                                .b-properties.b-object-properties__properties
                                                    each item in property.items
                                                        .b-properties__item
                                                            .b-properties__title= item.title
                                                            if (item.value)
                                                                .b-properties__dots
                                                                .b-properties__value= item.value
                                        .b-object-properties__item
                                            p.b-object-properties__title Описание объекта

                                            .b-properties.b-object-properties__properties
                                                .b-properties__item
                                                    .b-properties__title
                                                        p Для жителей ЖК на ул. Машинная - Шмидта мы предлагаем комфортные квартиры бизнес-класса, потрясающие панорамные виды с верхних этажей, благоустроенную набережную реки Исеть, безопасный двор, где запроектирована не просто закрытая территория с детскими площадками, но и современная система видеонаблюдения с несколькими пунктами охраны. В 5 минутах ходьбы, там же на набережной Исети, в скором времени будет завершено строительство Дворца водных видов спорта, который рассчитан на проведение соревнований международного уровня. А, значит, жители комплекса смогут посещать высококлассный современный бассейн практически в любое время.

                            p.b-card__label Хотите увидеть вживую?

                            .b-text
                                p В агентстве недвижимости НКС действует очень полезный и удобный сервис показа недвижимости — практически любую введеную в эксплуатацию недвижимость можно посмотреть, договорившись о встрече с нашим менеджером.

                            p.b-card__phone +7(343) 232-96-96
                            a.b-card__link(href='#') Заказать звонок

                p.b-card__label Описание

                .b-card__text.b-text
                    p Для жителей ЖК на ул. Машинная - Шмидта мы предлагаем комфортные квартиры бизнес-класса, потрясающие панорамные виды с верхних этажей, благоустроенную набережную реки Исеть, безопасный двор, где запроектирована не просто закрытая территория с детскими площадками, но и современная система видеонаблюдения с несколькими пунктами охраны. В 5 минутах ходьбы, там же на набережной Исети, в скором времени будет завершено строительство Дворца водных видов спорта, который рассчитан на проведение соревнований международного уровня. А, значит, жители комплекса смогут посещать высококлассный современный бассейн практически в любое время.

                p.b-card__label Галерея

                .b-card-images
                    .row
                        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                            .col-lg-2.col-xs-6.col-sm-4
                                a.b-card-images__item(href='http://localhost/nks/public/uploads/store/product/3978dc5400d92bfeef8d59bf97d0764d.jpg', rel='gallery'): img.img-responsive(src='http://placehold.it/260x200', alt='')

                .b-callback-form.b-callback-form_light.b-card__form
                    p.b-callback-form__title Остались вопросы?
                    p.b-callback-form__text Оставьте свои контактные данные и мы Вам перезвоним

                    form.b-callback-form__form
                        .row
                            .col-sm-4
                                .form-group.has-error
                                    label.control-label.error Как к Вам обратиться?
                                    input.form-control.error(type="text")
                                    .help-block.error Текст ошибки
                            .col-sm-4
                                .form-group.has-error
                                    label.control-label.error Телефон
                                    input.form-control.error(type="text")
                                    .help-block.error Текст ошибки
                            .col-sm-4
                                button.btn.btn-success.btn-block.b-callback-form__button(type="submit") Отправить
                                .b-callback-form__legend Нажимая на кнопку ОТПРАВИТЬ, я даю #[a(href='#') согласие на обработку персональных данных]
            .col-md-3.col-sm-4
                .hidden-xs
                    a.btn.btn-lg.btn-success.btn-block.b-card__button(href='#') Оставить заявку

                    .b-card-object.b-card__object
                        a.b-card-object__title(href='object.html') ЖК «Квартал Художников»
                        .b-card-object__image
                            img.img-responsive(src='http://placehold.it/280x210', alt='')
                            .b-card-object__status.b-card-object__status_done Строится
                        .b-object-properties.b-card-object__properties
                            each property in object.properties
                                .b-object-properties__item
                                    p.b-object-properties__title= property.title
                                    .b-properties.b-object-properties__properties
                                        each item in property.items
                                            .b-properties__item
                                                .b-properties__title= item.title
                                                if (item.value)
                                                    .b-properties__dots
                                                    .b-properties__value= item.value
                            .b-object-properties__item
                                p.b-object-properties__title Описание объекта
                                .b-properties.b-object-properties__properties
                                    .b-properties__item
                                        .b-properties__title
                                            p Для жителей ЖК на ул. Машинная - Шмидта мы предлагаем комфортные квартиры бизнес-класса, потрясающие панорамные виды с верхних этажей, благоустроенную набережную реки Исеть, безопасный двор, где запроектирована не просто закрытая территория с детскими площадками, но и современная система видеонаблюдения с несколькими пунктами охраны. В 5 минутах ходьбы, там же на набережной Исети, в скором времени будет завершено строительство Дворца водных видов спорта, который рассчитан на проведение соревнований международного уровня. А, значит, жители комплекса смогут посещать высококлассный современный бассейн практически в любое время.
    .b-catalog.b-card__catalog
        p.b-catalog__header Предложения в рамках той же цены

        .b-catalog__list.b-catalog__list_count_4
            each item, key in catalog
                if (key < 4 )
                    .b-catalog__item
                        if (item.favorite)
                            .b-catalog__favorite.b-catalog__favorite_active
                        else
                            .b-catalog__favorite

                        .b-catalog__cover
                            a(href='card.html'): img.b-catalog__image(src="http://placehold.it/180x180", alt="")
                            a.b-catalog__expand(href='#') Показать планировку
                        a.b-catalog__title(href='card.html')= item.title

                        .b-catalog__price.b-price #[span.b-price__value 2 598 442] руб

                        .b-properties.b-catalog__properties
                            each property in item.properties
                                .b-properties__item
                                    .b-properties__title= property.title
                                    .b-properties__dots
                                    .b-properties__value !{property.value}
                        if (item.offer)
                            .b-catalog-offer.b-catalog__offer
                                .b-catalog-offer__ribbon Акция!
                                .b-catalog-offer__content
                                    .b-catalog-offer__image
                                        img.img-responsive(src="http://placehold.it/280x140", alt="")
                                    p.b-catalog-offer__title= item.offer.title
                                    .b-catalog-offer__text
                                        p= item.offer.text
