extends ./layouts/layout

block content
    h1.b-page__title Контакты

    .b-contacts
        .row
            .col-sm-5.col-md-4.col-lg-3
                .b-contacts__item
                    p.b-contacts__title Адрес

                    p Викулова, 59/1, Екатеринбург, Свердловская область, Россия, 620000

                    p.visible-xs: a.b-contacts__link(data-toggle="modal" data-target="#modal_map") Показать на карте
                .b-contacts__item
                    p.b-contacts__title Телефоны

                    p +7 (343) 232–96–58
                    p +7 (343) 232–96–96
                .b-contacts__item
                    p.b-contacts__title Время работы

                    .b-working-hours
                        .b-working-hours__column
                            p.b-working-hours__title пн
                            p.b-working-hours__value 8#[sup 30]
                            p.b-working-hours__value 18#[sup 00]
                        .b-working-hours__column.b-working-hours__column_current
                            p.b-working-hours__title вт
                            p.b-working-hours__value 8#[sup 30]
                            p.b-working-hours__value 18#[sup 00]
                        .b-working-hours__column
                            p.b-working-hours__title ср
                            p.b-working-hours__value 8#[sup 30]
                            p.b-working-hours__value 18#[sup 00]
                        .b-working-hours__column
                            p.b-working-hours__title чт
                            p.b-working-hours__value 8#[sup 30]
                            p.b-working-hours__value 18#[sup 00]
                        .b-working-hours__column
                            p.b-working-hours__title пт
                            p.b-working-hours__value 8#[sup 30]
                            p.b-working-hours__value 18#[sup 00]
                        .b-working-hours__column.b-working-hours__column_weekend
                            p.b-working-hours__title сб
                            p.b-working-hours__value —
                            p.b-working-hours__value —
                        .b-working-hours__column
                            p.b-working-hours__title вс
                            p.b-working-hours__value —
                            p.b-working-hours__value —
                .b-contacts__item
                    p.b-contacts__title E-mail

                    p info@an-nks.ru
            .col-sm-7.col-md-8.col-lg-9
                .hidden-xs
                    .b-contacts__map#objectMap
                        script.
                            function initMap() {
                                var myMap = new ymaps.Map("objectMap", {
                                    center: [56.844412, 60.617085],
                                    zoom: 16
                                });
                                myMap.geoObjects.add(new ymaps.Placemark([56.844412, 60.617085], {
                                    balloonContent: 'цвет <strong>воды пляжа бонди</strong>'
                                }));
                                //myMap.behaviors.disable('drag');
                            }

                            ymaps.ready(initMap);
    .b-feedback-form
        p.b-feedback-form__title Написать нам
        p.b-feedback-form__text Можете отправить нам сообщение прямо с сайта, если Вам так удобнее. Не забудьте указать Ваши контактные данные, чтобы мы могли ответить.

        form.b-feedback-form__form
            .row
                .col-sm-8.col-md-9
                    .form-group
                        label.control-label Текст сообщения
                        textarea.form-control
                .col-sm-4.col-md-3
                    .form-group
                        label.control-label Как к Вам обратиться?
                        input.form-control
                    .form-group
                        label.control-label Номер Вашего телефона
                        input.form-control
                    .form-group
                        label.control-label E-mail
                        input.form-control
                    button.btn.btn-success.btn-block.b-feedback-form__button(type="submit") Отправить
    // Modal
    #modal_map.modal(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    a.close(data-dismiss='modal', aria-label='Close')
                .modal-body
                    .b-map#map
                    script.
                        function initMap() {
                            var myMap = new ymaps.Map("map", {
                                center: [56.844412, 60.617085],
                                zoom: 16
                            });
                            myMap.geoObjects.add(new ymaps.Placemark([56.844412, 60.617085], {
                                balloonContent: 'цвет <strong>воды пляжа бонди</strong>'
                            }));
                            //myMap.behaviors.disable('drag');
                        }

                        ymaps.ready(initMap);
