extends ./layouts/layout.jade

block content
    h1.b-page__title
        | Избранное
        select.form-control.b-filter__input.b-favorites__select
            option(value="1") Квартиры
            option(value="2") Квартиры 2
            option(value="3") Квартиры 3
            option(value="4") Квартиры 5

    .b-favorites
        .b-favorites__slider
            .external-scroll_x
                .scroll-element_outer
                    .scroll-element_size
                    .scroll-element_track
                    .scroll-bar

        .row
            .col-sm-3.col-md-2
                .b-favorites__labels
                    each property in favorites[0].properties
                        p.b-favorites__label= property.title
            .col-sm-9.col-md-10
                .b-favorites__list
                    .b-catalog__list
                        each item in favorites
                            .b-catalog__item
                                .b-catalog__favorite.b-catalog__favorite_remove

                                .b-catalog__cover
                                    a(href='card.html'): img.b-catalog__image(src="http://placehold.it/180x180", alt="")
                                    a.b-catalog__expand(href='#') Показать планировку
                                a.btn.btn-success.btn-block.b-catalog__button(href='#') Оставить заявку
                                a.b-catalog__title(href='card.html')= item.title

                                .b-catalog__price.b-price #[span.b-price__value 2 598 442] руб

                                .b-properties.b-catalog__properties
                                    each property in item.properties
                                        .b-properties__item
                                            .b-properties__title= property.title
                                            .b-properties__dots
                                            .b-properties__value !{property.value}
                                if (item.offer)
                                    .b-catalog-offer.b-catalog__offer
                                        .b-catalog-offer__ribbon Акция!
