extends ./layouts/splash

block content
    .b-splash
        include ./includes/header.jade

        .row
            .col-md-9.col-xs-12.center-block
                p.b-splash__title НКС — 25 лет безупречной репутации
                p.b-splash__lead Небольшое послание, объясняющее что из себя представляет агентство недвижимости НКС и&nbsp;какие возможности оно дает посетителю сайта

                .b-filter.b-splash__filter
                    p.b-filter__header Что Вы ищите?

                    .row
                        .col-sm-4
                            .b-filter__item
                                select.form-control.b-filter__input
                                    option(value="1") Квартиры
                                    option(value="2") Квартиры 2
                                    option(value="3") Квартиры 3
                                    option(value="4") Квартиры 5
                        .col-sm-4
                            .b-filter__item
                                select.form-control.b-filter__input
                                    option(value="1") Любой район
                                    option(value="2") Любой район
                                    option(value="3") Любой район
                                    option(value="4") Любой район
                        .col-sm-4
                            .b-filter__item
                                span.b-filter__radio
                                    input#in_stock_0(type="radio", checked="checked", name="in_stock")
                                    label(for="in_stock_0") Сдано
                                    input#in_stock_1(type="radio", name="in_stock")
                                    label(for="in_stock_1") Строится
                        .col-sm-4
                            .b-filter__item
                                .b-range-slider
                                    p.b-range-slider__label Цена от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] млн. руб

                                    .b-range-slider__slider(data-min="1.8", data-max="8.2", data-step="0.1")
                                    input.b-range-slider__input_from(type="hidden", value="1.8")
                                    input.b-range-slider__input_to(type="hidden", value="8.1")
                        .col-sm-4
                            .b-filter__item
                                .b-range-slider
                                    p.b-range-slider__label Площадь от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] м#[sup 2]

                                    .b-range-slider__slider(data-min="20", data-max="230")
                                    input.b-range-slider__input_from(type="hidden", value="20")
                                    input.b-range-slider__input_to(type="hidden", value="230")
                        .col-sm-4
                            .b-filter__item
                                label.b-filter__label Кол-во комнат:
                                span.b-filter__checkbox
                                    input#rooms_0(type="checkbox", checked="checked", name="rooms")
                                    label(for="rooms_0") 1
                                    input#rooms_1(type="checkbox", name="rooms")
                                    label(for="rooms_1") 2
                                    input#rooms_2(type="checkbox", name="rooms")
                                    label(for="rooms_2") 3
                                    input#rooms_3(type="checkbox", name="rooms")
                                    label(for="rooms_3") 4
                                    input#rooms_4(type="checkbox", name="rooms")
                                    label(for="rooms_4") 5
                        .col-sm-4.col-sm-offset-4
                            button.btn.btn-success.btn-block.b-filter__button(type="submit") Подобрать
    .b-splash-objects
        p.b-splash-objects__header Наши объекты

        .b-splash-objects__list
            each object in objects
                a.b-splash-objects__item(href="object.html")
                    img.b-splash-objects__image.img-responsive(src="http://placehold.it/407x305", alt="")

                    .b-splash-objects__content
                        p.b-splash-objects__title= object.title
                        p.b-splash-objects__distinct= object.distinct
                        p.b-splash-objects__address= object.address
    .b-catalog
        p.b-catalog__header.b-catalog__header_big.text-center Вам могут быть интересны

        .b-catalog__list.b-catalog__list_count_4
            each item, key in catalog
                if (key < 4 )
                    .b-catalog__item
                        if (item.favorite)
                            .b-catalog__favorite.b-catalog__favorite_active
                        else
                            .b-catalog__favorite

                        .b-catalog__cover
                            a(href='card.html'): img.b-catalog__image(src="http://placehold.it/180x180", alt="")
                            a.b-catalog__expand(href='#') Показать планировку
                        a.b-catalog__title(href='card.html')= item.title

                        .b-catalog__price.b-price #[span.b-price__value 2 598 442] руб

                        .b-properties.b-catalog__properties
                            each property in item.properties
                                .b-properties__item
                                    .b-properties__title= property.title
                                    .b-properties__dots
                                    .b-properties__value !{property.value}
                        if (item.offer)
                            .b-catalog-offer.b-catalog__offer
                                .b-catalog-offer__ribbon Акция!
                                .b-catalog-offer__content
                                    .b-catalog-offer__image
                                        img.img-responsive(src="http://placehold.it/280x140", alt="")
                                    p.b-catalog-offer__title= item.offer.title
                                    .b-catalog-offer__text
                                        p= item.offer.text
    .hidden-xs
        .b-text.b-splash__text
            h1 Заголовок для продвижения (может быть h1)
            p Компания работает с 1991 года, является одним из ведущих девелоперов. Какие достижения можете отметить как важнейшие?
            p В начале 1990-х гг. мы одними из первых в столице Урала начали возводить объекты за счет привлечения внебюджетных средств. Сегодня на счету компании десятки реализованных проектов — от кирпичного и монолитного жилья в Екатеринбурге до уникальных загородных и коммерческих объектов.
            p За время своего существования компания ввела в эксплуатацию более 50 многоквартирных жилых домов общей площадью свыше 400 тыс. м2, 61 тыс. м2 нежилых помещений и 50 тыс. м2 паркингов.
    .b-callback-form
        p.b-callback-form__title Не хотите тратить время на поиски?
        p.b-callback-form__text Оставьте свои контактные данные и мы подберем Вам подходящий вариант

        form.b-callback-form__form
            .row
                .col-md-3.col-sm-4
                    .form-group
                        label.control-label Что Вас интересует?
                        select.form-control
                            option Квартиры
                            option Квартиры
                            option Квартиры
                            option Квартиры
                .col-md-3.col-sm-4
                    .form-group.has-error
                        label.control-label.error Как к Вам обратиться?
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-3.col-sm-4
                    .form-group.has-error
                        label.control-label.error Телефон
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-3.col-sm-4.col-sm-offset-4.col-md-offset-0
                    button.btn.btn-default.btn-block.b-callback-form__button(type="submit") Отправить
