extends ./layouts/layout.jade

block content
    h1.b-page__title Наши объекты

    .b-page__text
        p Вы сможете подобрать жилье на любой вкус и кошелек – в активе АН "НКС" представлены объекты различных классов («эконом», «комфорт», «бизнес»), с различными уровнями отделки, готовые или строящиеся и т.д. Большой выбор новостроек в таких микрорайонах города как ВИЗ, Юго-Западный, Автовокзал, Пионерский, ЖБИ и Центральный.

    .b-objects
        each object in objects
            .b-objects__item
                a.b-objects__img(href='object.html')
                    img.img-responsive(src='http://placehold.it/380x190/000000', alt='')

                    if (object.done)
                        .b-objects__status.b-objects__status_done Объект сдан
                    else
                        .b-objects__status Строится
                a.b-objects__title(href='object.html')= object.title
                p.b-objects__distinct= object.address + ' (' + object.distinct + ')'

                .b-objects__text
                    p= object.text
                .b-properties.b-objects__properties
                    .b-properties__item
                        .b-properties__title Квартиры
                        .b-properties__dots
                        .b-properties__value от 3 341 960 руб
                    .b-properties__item
                        .b-properties__title Офисы
                        .b-properties__dots
                        .b-properties__value от 2 740 210 руб
                    .b-properties__item
                        .b-properties__title Паркинги
                        .b-properties__dots
                        .b-properties__value от 1 250 356 руб
    .b-callback-form
        p.b-callback-form__title Не хотите тратить время на поиски?
        p.b-callback-form__text Оставьте свои контактные данные и мы подберем Вам подходящий вариант

        form.b-callback-form__form
            .row
                .col-md-3.col-sm-4
                    .form-group
                        label.control-label Что Вас интересует?
                        select.form-control
                            option Квартиры
                            option Квартиры
                            option Квартиры
                            option Квартиры
                .col-md-3.col-sm-4
                    .form-group.has-error
                        label.control-label.error Как к Вам обратиться?
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-3.col-sm-4
                    .form-group.has-error
                        label.control-label.error Телефон
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-3.col-sm-4.col-sm-offset-4.col-md-offset-0
                    button.btn.btn-default.btn-block.b-callback-form__button(type="submit") Отправить
            .b-callback-form__legend.text-center Нажимая на кнопку ОТПРАВИТЬ, я даю #[a(href='#') согласие на обработку персональных данных]
