extends ./layouts/layout.jade

block content
    .b-object
        .row
            .col-md-9.col-sm-8
                h1.b-page__title= object.title

                p.b-object__address= object.address

                .b-object__tabs
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a.b-object__gallery-tab(href='#gallery', aria-controls='gallery', role='tab', data-toggle='tab') Галерея
                        li(role='presentation')
                            a.b-object__map-tab(href='#map', aria-controls='map', role='tab', data-toggle='tab') Карта
                    // Tab panes
                    .tab-content
                        #gallery.tab-pane.active(role='tabpanel')
                            .b-object-gallery
                                each image in object.images
                                    .b-object-gallery__item
                                        img.img-responsive.b-object-gallery__image(src=image, alt="")
                        #map.tab-pane(role='tabpanel')
                            .b-object__map#objectMap

                                //script.
                                //    function initMap() {
                                //        var myMap = new ymaps.Map("objectMap", {
                                //            center: [56.844412, 60.617085],
                                //            zoom: 16
                                //        });
                                //        myMap.geoObjects.add(new ymaps.Placemark([56.844412, 60.617085], {
                                //            balloonContent: 'цвет <strong>воды пляжа бонди</strong>'
                                //        }));
                                //        //myMap.behaviors.disable('drag');
                                //
                                //        myMap.load = function (e, t, n, r) {
                                //            var o = ym.ns.ready;
                                //            return "function" == typeof e ? t ? o(["package.full"], e, t) : o(["package.full"], e) : ("string" == typeof e && (e = [e]),
                                //                o.apply(this, arguments))
                                //        }
                                //    }
                                //
                                //    ymaps.ready(initMap);

                                <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?load=package.standard&amp;um=constructor%3A834e99a97453487e0b040c9619bf7aa54450e75709460b9dc67802e2e589b9c8&amp;id=objectMap"></script>
                p.b-object__label Описание

                .b-object__description
                    p Для жителей ЖК на ул. Машинная - Шмидта мы предлагаем комфортные квартиры бизнес-класса, потрясающие панорамные виды с верхних этажей, благоустроенную набережную реки Исеть, безопасный двор, где запроектирована не просто закрытая территория с детскими площадками, но и современная система видеонаблюдения с несколькими пунктами охраны. В 5 минутах ходьбы, там же на набережной Исети, в скором времени будет завершено строительство Дворца водных видов спорта, который рассчитан на проведение соревнований международного уровня. А, значит, жители комплекса смогут посещать высококлассный современный бассейн практически в любое время.
                    p Иными словами, ЖК на ул. Машинная - Шмидта обещает стать новой высотой Екатеринбурга еще и в плане комфорта, который мы сегодня можем предложить для бизнес-аудитории.
            .col-md-3.col-sm-4
                .row
                    .col-xs-6.col-xs-offset-6.col-sm-12.col-sm-offset-0
                        .b-object__status Строится
                        .b-object__status.b-object__status_done.hidden Объект сдан

                .b-object-properties.b-object__properties
                    each property in object.properties
                        .b-object-properties__item
                            p.b-object-properties__title= property.title

                            .b-properties.b-object-properties__properties
                                each item in property.items
                                    .b-properties__item
                                        .b-properties__title= item.title
                                        if (item.value)
                                            .b-properties__dots
                                            .b-properties__value= item.value
    .b-tabs
        // Nav tabs
        ul.nav.nav-tabs.b-tabs__tabs(role='tablist')
            li.active(role='presentation')
                a.b-tabs__tab.b-tabs__tab_1(href='#offers', aria-controls='offers', role='tab', data-toggle='tab') Акции
            li(role='presentation')
                a.b-tabs__tab.b-tabs__tab_2(href='#images', aria-controls='images', role='tab', data-toggle='tab') Ход строительства
            li(role='presentation')
                a.b-tabs__tab.b-tabs__tab_3(href='#documents', aria-controls='documents', role='tab', data-toggle='tab') Документы
        // Tab panes
        .tab-content.b-tabs__content
            #offers.tab-pane.active(role='tabpanel')
                .b-object-offers
                    each offer in object.offers
                        .b-object-offers__item
                            .b-object-offers__image
                                img.img-responsive(src='http://placehold.it/280x140')
                            p.b-object-offers__title= offer.title

                            .b-object-offers__text !{offer.text}
            #images.tab-pane(role='tabpanel')
                .row
                    .col-md-9.col-sm-8
                        .b-object-images
                            // Nav tabs
                            ul.nav.nav-tabs.b-object-images__tabs(role='tablist')
                                each gallery, key in object.galleries
                                    - var className = (key == 0) ? 'active' : ''

                                    li(role='presentation', class=className)
                                        a(href='#gallery_#{key}', aria-controls='gallery_#{key}', role='tab', data-toggle='tab')= gallery.title
                            // Tab panes
                            .tab-content.b-object-images__content
                                each gallery, key in object.galleries
                                    - var className = (key == 0) ? ['tab-pane', 'active'] : ['tab-pane']
                                    - var galleryId = 'gallery_' + key

                                    div(role='tabpanel', id=galleryId, class=className)
                                        .b-object-images__list
                                            each image in gallery.images
                                                a.b-object-images__item(href='http://localhost/nks/public/uploads/thumbs/store/category/900x450_125e7b12ad8a8f9c25e01722b3fadd6c.jpg', rel=galleryId)
                                                    img.img-responsive(src=image, alt="")
                    .col-md-3.col-sm-4
                        .b-text.b-object-images__text
                            p Для жителей ЖК на ул. Машинная - Шмидта мы предлагаем комфортные квартиры бизнес-класса, потрясающие панорамные виды с верхних этажей, благоустроенную набережную реки Исеть, безопасный двор, где запроектирована не просто закрытая территория с детскими площадками, но и современная система видеонаблюдения с несколькими пунктами охраны.
            #documents.tab-pane(role='tabpanel')
                .b-object-documents
                    each document in object.documents
                        .b-object-documents__item
                            a.b-object-documents__title(href='#')= document.title
                            p.b-object-documents__info= document.info

    .b-catalog
        p.b-catalog__header Подбор недвижимости данного объекта

        .row
            .col-md-3.col-sm-4
                .b-filter.b-catalog__filter
                    .b-filter__item
                        select.form-control.b-filter__input
                            option(value="1") Квартиры
                            option(value="2") Квартиры 2
                            option(value="3") Квартиры 3
                            option(value="4") Квартиры 5
                    .b-filter__item
                        span.b-filter__radio
                            input#in_stock_0(type="radio", checked="checked", name="in_stock")
                            label(for="in_stock_0") Сдано
                            input#in_stock_1(type="radio", name="in_stock")
                            label(for="in_stock_1") Строится
                    .b-filter__item
                        .b-range-slider
                            p.b-range-slider__label Цена от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] млн. руб

                            .b-range-slider__slider(data-min="1.8", data-max="8.2", data-step="0.1")
                            input.b-range-slider__input_from(type="hidden", value="1.8")
                            input.b-range-slider__input_to(type="hidden", value="8.1")
                    .b-filter__item
                        .b-range-slider
                            p.b-range-slider__label Площадь от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] м#[sup 2]

                            .b-range-slider__slider(data-min="20", data-max="230")
                            input.b-range-slider__input_from(type="hidden", value="20")
                            input.b-range-slider__input_to(type="hidden", value="230")
                    .b-filter__item
                        label.b-filter__label Кол-во комнат:
                        span.b-filter__checkbox
                            input#rooms_0(type="checkbox", checked="checked", name="rooms")
                            label(for="rooms_0") 1
                            input#rooms_1(type="checkbox", name="rooms")
                            label(for="rooms_1") 2
                            input#rooms_2(type="checkbox", name="rooms")
                            label(for="rooms_2") 3
                            input#rooms_3(type="checkbox", name="rooms")
                            label(for="rooms_3") 4
                            input#rooms_4(type="checkbox", name="rooms")
                            label(for="rooms_4") 5
                    button.btn.btn-success.btn-block.b-filter__button(type="submit") Подобрать
            .col-md-9.col-sm-8
                .b-catalog__list
                    each item in catalog
                        .b-catalog__item
                            if (item.favorite)
                                .b-catalog__favorite.b-catalog__favorite_active
                            else
                                .b-catalog__favorite

                            .b-catalog__cover
                                a(href='card.html'): img.b-catalog__image(src="http://placehold.it/180x180", alt="")
                                a.b-catalog__expand(href='#') Показать планировку
                            a.b-catalog__title(href='card.html')= item.title

                            .b-catalog__price.b-price #[span.b-price__value 2 598 442] руб

                            .b-properties.b-catalog__properties
                                each property in item.properties
                                    .b-properties__item
                                        .b-properties__title= property.title
                                        .b-properties__dots
                                        .b-properties__value !{property.value}
                            if (item.offer)
                                .b-catalog-offer.b-catalog__offer
                                    .b-catalog-offer__ribbon Акция!
                                    .b-catalog-offer__content
                                        .b-catalog-offer__image
                                            img.img-responsive(src="http://placehold.it/280x140", alt="")
                                        p.b-catalog-offer__title= item.offer.title
                                        .b-catalog-offer__text
                                            p= item.offer.text
                ul.b-pagination.list-unstyled.b-catalog__pagination
                    li.b-pagination__item.b-pagination__item_active: a.b-pagination__link(href='#') 1
                    li.b-pagination__item: a.b-pagination__link(href='#') 2
                    li.b-pagination__item: a.b-pagination__link(href='#') 3
                    li.b-pagination__item: a.b-pagination__link(href='#') 4

