extends ./layouts/layout.jade

block content
    h1.b-page__title Акции

    .b-offers
        each offer in offers
            .b-offers__item
                .b-offers__img
                    img.img-responsive(src='http://placehold.it/380x190', alt='')

                .b-offers__content
                    h3.b-offers__title= offer.title

                    .b-offers__text !{offer.text}

                    .b-offers__items.b-offer-items
                        p.b-offer-items__header В акции принимают участие:

                        .b-offer-items__list
                            each item in offer.items
                                .b-offer-items__item
                                    img.b-offer-items__img(src='http://placehold.it/85x65')

                                    .b-offer-items__content
                                        a.b-offer-items__title(href='object.html')= item.title
                                        p.b-offer-items__distinct= item.distinct
                                        p.b-offer-items__address= item.address
