extends ./layouts/layout.jade

block content
    h1.b-page__title Подбор недвижимости

    .b-catalog
        .row
            .col-md-3.col-sm-4
                p.b-catalog__header Критерии выбора

                .b-filter.b-catalog__filter
                    .b-filter__item
                        select.form-control.b-filter__input
                            option(value="1") Квартиры
                            option(value="2") Квартиры 2
                            option(value="3") Квартиры 3
                            option(value="4") Квартиры 5
                    .b-filter__item
                        span.b-filter__radio
                            input#in_stock_0(type="radio", checked="checked", name="in_stock")
                            label(for="in_stock_0") Сдано
                            input#in_stock_1(type="radio", name="in_stock")
                            label(for="in_stock_1") Строится
                    .b-filter__item
                        .b-range-slider
                            p.b-range-slider__label Цена от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] млн. руб

                            .b-range-slider__slider(data-min="1.8", data-max="8.2", data-step="0.1", data-ratio="1000000")
                            input.b-range-slider__input_from(type="hidden", value="1.8")
                            input.b-range-slider__input_to(type="hidden", value="8.1")
                    .b-filter__item
                        .b-range-slider
                            p.b-range-slider__label Площадь от #[span.b-range-slider__value_from] до #[span.b-range-slider__value_to] м#[sup 2]

                            .b-range-slider__slider(data-min="20", data-max="230")
                            input.b-range-slider__input_from(type="hidden", value="20")
                            input.b-range-slider__input_to(type="hidden", value="230")
                    .b-filter__item
                        label.b-filter__label Кол-во комнат:
                        span.b-filter__checkbox
                            input#rooms_0(type="checkbox", checked="checked", name="rooms")
                            label(for="rooms_0") 1
                            input#rooms_1(type="checkbox", name="rooms")
                            label(for="rooms_1") 2
                            input#rooms_2(type="checkbox", name="rooms")
                            label(for="rooms_2") 3
                            input#rooms_3(type="checkbox", name="rooms")
                            label(for="rooms_3") 4
                            input#rooms_4(type="checkbox", name="rooms")
                            label(for="rooms_4") 5
                    button.btn.btn-success.btn-block.b-filter__button(type="submit") Подобрать
            .col-md-9.col-sm-8
                .row
                    .col-sm-6
                        p.b-catalog__header Найдено 34 варианта
                    .col-sm-6
                        .b-sort.b-catalog__sort
                            span.b-sort__header Сортировать по:

                            a.b-sort__item.asc(href='#') цене
                            a.b-sort__item(href='#') площади
                .b-catalog__list
                    each item in catalog
                        .b-catalog__item
                            if (item.favorite)
                                .b-catalog__favorite.b-catalog__favorite_active
                            else
                                .b-catalog__favorite

                            .b-catalog__cover
                                a(href='card.html'): img.b-catalog__image(src="http://placehold.it/180x180", alt="")
                                a.b-catalog__expand(href='#') Показать планировку
                            a.b-catalog__title(href='card.html')= item.title

                            .b-catalog__price.b-price #[span.b-price__value 2 598 442] руб

                            .b-properties.b-catalog__properties
                                each property in item.properties
                                    .b-properties__item
                                        .b-properties__title= property.title
                                        .b-properties__dots
                                        .b-properties__value !{property.value}
                            if (item.offer)
                                .b-catalog-offer.b-catalog__offer
                                    .b-catalog-offer__ribbon Акция!
                                    .b-catalog-offer__content
                                        .b-catalog-offer__image
                                            img.img-responsive(src="http://placehold.it/280x140", alt="")
                                        p.b-catalog-offer__title= item.offer.title
                                        .b-catalog-offer__text
                                            p= item.offer.text
                ul.b-pagination.list-unstyled.b-catalog__pagination
                    li.b-pagination__item.b-pagination__item_active: a.b-pagination__link(href='#') 1
                    li.b-pagination__item: a.b-pagination__link(href='#') 2
                    li.b-pagination__item: a.b-pagination__link(href='#') 3
                    li.b-pagination__item: a.b-pagination__link(href='#') 4



