@import "variables.less";
@import "mixins";

.b-object-images {

}

.b-object-images__tabs {
	border-bottom: none;
	margin-bottom: 10px;

	& > li {
		margin-bottom: 0;

		& > a {
			border: 1px solid #424242;
			color: #fff;
			border-radius: 0;
			background: @text-color;
			//width: 80px;
			text-align: center;
			padding: 4px 8px;
			margin-right: 10px;
			margin-bottom: 10px;

			&:hover, &:focus {
				background: @text-color;
				border: 1px solid #aa3282;
			}
		}
	}

	& > li.active > a, & > li.active > a:focus, & > li.active > a:hover {
		background: #aa3282;
		border: 1px solid #aa3282;
		color: #fff;
	}
}

.b-object-images__content {
}

.b-object-images__list {
	margin-left: -10px;
	margin-right: -10px;

	margin-bottom: -20px;

	.clearfix();
}

.b-object-images__item {
	float: left;
	margin: 0 10px 20px;
}

.b-object-images__text {
	margin-top: 15px;
	margin-bottom: -15px;
}

@media (min-width: @screen-xs-min) {
	.b-object-images__text {
		margin-top: 45px;
		margin-bottom: 0;
	}
}

