@import "variables.less";
@import "mixins";

.b-card {
}

.b-card__button {
	padding: 5px 16px;
	font-size: 20px;
	line-height: 39px;
	margin: 25px 0;
}

.b-card__offer {
	margin-top: 40px;
	margin-bottom: 25px;
}

.b-card__images {
}

.b-card__image {
	margin-bottom: 20px;
}

.b-card__object {
	margin-top: 35px;
	margin-bottom: -10px;
}

.b-card__label {
	font-size: 20px;
	line-height: 25px;
	margin-top: 30px;
}

.b-card__phone {
	font-size: 17px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 13px;
}

.b-card__link {
	line-height: 17px;
	text-decoration: underline;
	display: inline-block;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.b-card__text {

}

.b-card__form {
	margin-top: 10px !important;
}

.b-card__catalog {
	margin-top: 14px !important;
	margin-bottom: 40px !important;
}

@media (min-width: @grid-float-breakpoint) {
	.b-card__offer {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.b-card__button {
		margin: 20px 0;
	}

	.b-card__images {
		margin-bottom: 50px;
	}

	.b-card__image {
		margin-bottom: -15px;
	}

	.b-card__label {
		margin-top: 30px;
	}

	.b-card__catalog {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
}

.b-card__image_zoom > img {
	max-width: 90vw;
	max-height: 90vh;
}
