@import "variables.less";
@import "mixins";

.b-object-offers {
	color: #fff;
	margin-top: -20px;
	margin-bottom: -30px;
}

.b-object-offers__item {
	margin-top: 40px;
	margin-bottom: 40px;

	.clearfix();
}

.b-object-offers__image {
	margin-bottom: 15px;
}

.b-object-offers__title {
	font-size: 20px;
	line-height: 25px;
}

.b-object-offers__text {
	margin-bottom: -15px;
}

@media (min-width: @screen-sm-min) {
	.b-object-offers {
		margin-bottom: -20px;
	}

	.b-object-offers__image {
		width: 280px;
		float: left;
		margin-bottom: 0;
	}

	.b-object-offers__title {
		margin-left: 300px;
		margin-top: -5px;
	}

	.b-object-offers__text {
		margin-left: 300px;
		margin-bottom: -10px;
	}
}
