@import "variables.less";
@import "mixins";

.b-object {

}

.b-object__address {
	margin-top: 10px;
	margin-bottom: 35px;
}

.b-object__tabs {
	position: relative;

	margin-left: -20px;
	margin-right: -20px;

	margin-top: 33px;
	margin-bottom: 32px;

	.nav-tabs {
		border-bottom: none;
		background: rgba(255, 255, 255, .5);
		border-radius: 4px;

		position: absolute;
		top: 20px;
		left: 20px;

		z-index: 21;

		& > li {
			margin-bottom: 0;

			& > a {
				margin-right: 0;
				border: none !important;
				border-radius: 4px;
				color: @text-color;
				width: 40px;
				text-align: center;

				text-indent: -9999px;

				position: relative;

				&:after {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
				}
			}
		}
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
		background-color: #fff;
		color: @text-color;
	}
	.tab-content {
		z-index: 20;
	}
}

.b-object__gallery-tab {
	&:after {
		background: center center no-repeat url("../../assets/img/image-area.svg");
	}
}

.b-object__map-tab {
	&:after {
		background: center center no-repeat url("../../assets/img/map-marker.svg");
	}
}

.b-object__label {
	font-size: 20px;
	margin-bottom: 8px;
}

.b-object__description {

}

.b-object__status {
	font-size: 20px;
	line-height: 55px;
	color: #fff;
	background: linear-gradient(to left, #6e1478, #aa3282);
	text-align: right;
	padding-right: 20px;

	margin-left: -10px;
	margin-right: -20px;
	margin-top: 25px;
}

.b-object__status_done {
	background: linear-gradient(to right, #007b38, #005426);
}

.b-object__properties {
	margin-top: 15px;
}

.b-object__map {
	height: 320px;
}

@media (min-width: @screen-sm-min) {
	.b-object__address {
		font-size: 20px;
		margin-top: -3px;
		margin-bottom: 33px;
	}

	.b-object__tabs {
		margin-right: 0;

		.nav-tabs {
			& > li {
				& > a {
					width: 140px;
					text-indent: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}

	.b-object__status {
		font-size: 33px;
		line-height: 65px;
		margin-left: 0;
	}

	.b-object__properties {
		margin-top: 35px;
	}

	.b-object__map {
		height: 450px;
	}
}
