@import "variables.less";
@import "mixins";

.b-range-slider {
	margin-bottom: 25px;
}

.b-range-slider__label {
	text-align: center;
	line-height: 1;
}

.b-range-slider__value_from {

}

.b-range-slider__value_to {

}

.b-range-slider__slider {
	margin: 15px 10px;
	background: #fafafa;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
	border: none !important;
	height: 6px;

	.ui-slider-range {
		background: linear-gradient(to right, #6e1478, #aa3282);
	}

	.ui-slider-handle {
		border: none;
		background: none;
		width: 20px;
		height: 20px;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .75);
		border-radius: 50%;
		top: 50%;
		cursor: pointer;
		margin-left: 0;
		transform: translate(-50%, -50%);
		outline: none !important;

		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6px;
			height: 6px;
			transform: translate(-50%, -50%);
			content: '';

			border-radius: 50%;
			background: #6e1478;
			box-shadow: inset 0 1px 4px rgba(0, 0, 0, .75);
		}
	}
}
