@import "variables.less";
@import "mixins";

.b-tabs {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 5px;
	margin-bottom: 35px;
}

.b-tabs__tabs {
	border-bottom: none;
	margin-left: 20px;

	& > li {
		margin-bottom: 0;

		& > a {
			border: none !important;
			color: #fff;
			border-radius: 0;
			text-transform: uppercase;
			background: linear-gradient(to bottom, #212121, mix(#212121, #000, 50%) 90%, #000000);
			width: 50px;
			height: 50px;

			text-indent: -9999px;

			position: relative;

			&:after {
				position: absolute;
				top: 13px;
				left: 13px;
				width: 24px;
				height: 24px;
				content: '';
			}
		}
	}

	& > li.active > a, & > li.active > a:focus, & > li.active > a:hover {
		background: #212121;
		color: #fff;
	}
}

.b-tabs__tab {

}

.b-tabs__tab_1:after {
	background: center center no-repeat url("../../assets/img/sale.svg");
}

.b-tabs__tab_2:after {
	background: center center no-repeat url("../../assets/img/calendar-check.svg");
}

.b-tabs__tab_3:after {
	background: center center no-repeat url("../../assets/img/file-document.svg");
}

.b-tabs__content {
	background: #212121;
	color: #fff;
	padding: 20px;
}

@media (min-width: @screen-xs-min) {
	.b-tabs {
		margin-top: 25px;
	}

	.b-tabs__tabs {
		& > li {
			& > a {
				padding: 15px 20px 15px 39px;
				width: auto;
				text-indent: 0;

				&:after {
					left: 10px;
				}
			}
		}
	}
}
