@import "variables.less";
@import "mixins";

.b-offer-items {

}

.b-offer-items__header {
	font-weight: bold;
}

.b-offer-items__list {
	display: flex;
	flex-flow: row wrap;
}

.b-offer-items__item {
	flex-basis: 100%;
	margin-bottom: 10px;
}

.b-offer-items__img {
	float: left;
	width: 85px;
	margin-top: 5px;
}

.b-offer-items__content {
	margin-left: 100px;
}

.b-offer-items__title {
	font-size: 20px;
	line-height: 25px;
	text-decoration: underline;
	margin-bottom: 10px;
	display: inline-block;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.b-offer-items__distinct {
	margin-bottom: 0;
	text-transform: uppercase;
}

.b-offer-items__address {
	margin-bottom: 0;
}

@media (min-width: @grid-float-breakpoint) {
	.b-offer-items__list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.b-offer-items__item {
		flex-basis: 50%;
		padding-left: 10px;
		padding-right: 10px;
	}
}
