@import "variables.less";
@import "mixins";

.b-object-gallery {
	.slick-prev, .slick-next {
		width: 37px;
		height: 96px;

		background: left top no-repeat url("../../assets/img/slider-arrow.png");
		z-index: 100;

		&:before {
			display: none;
		}
	}

	.slick-prev {
		left: 11px;
	}
	.slick-next {
		right: 11px;
		transform: translate(0, -50%) rotate(180deg);
	}
}

.b-object-gallery:not(.slick-initialized) {
	visibility: hidden;
}

.b-object-gallery__item {

}

.b-object-gallery__image {

}

@media (min-width: @screen-sm-min) {
	.b-object-gallery {
		.slick-prev {
			left: 31px;
		}
		.slick-next {
			right: 31px;
		}
	}
}

@media (max-width: @grid-float-breakpoint-max) {
	.b-object-gallery__item {
		height: 320px;

		position: relative;
		overflow: hidden;
	}

	.b-object-gallery__image {
		height: 320px;

		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);

		max-width: none;
	}
}
