@import "variables.less";
@import "mixins";

.b-header {
	padding: 0 20px;
	margin-bottom: 15px;
}

.b-header__logo {
	display: inline-block;
	background: center left no-repeat url("../../assets/img/logo.svg");
	background-size: 50px 50px;

	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	color: @text-color;
	text-transform: uppercase;

	height: 50px;
	width: 50px;
	padding: 8px 0 8px 61px;
	text-indent: -9999px;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: @text-color;
	}
}

.b-header__phone {
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	margin-top: 7px;
	margin-bottom: 0;
}

.b-header__link {
	text-decoration: underline;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

@media (min-width: @screen-xs-min) {
	.b-header__logo {
		width: 220px;
		text-indent: 0;
	}
}
