@import "variables.less";
@import "mixins";

.b-page {
	background: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.b-page__container {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.b-page__content {
	flex: ~"1 0 0";
	padding-left: 20px;
	padding-right: 20px;
}

.b-page__title {
	margin-bottom: 10px;
	font-size: 27px;
	line-height: 30px;
	margin-top: 20px;
}

.b-page__text {
	margin-top: 10px;
}

@media (min-width: @grid-float-breakpoint) {
	.b-page__title {
		font-size: 40px;
		line-height: 1;
		//line-height: @headings-line-height;
		margin-top: 20px;
	}

	.b-page__text {
		margin-top: 8px;
	}
}
