@import "variables";
@import "mixins";

.browserupgrade {
	margin: 0 0 0.2em;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	text-align: center;
}

html, body {
	//height: 100%;

	//-webkit-font-smoothing: antialiased;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
	//min-width: 1080px;
	//position: relative;

	//font-weight: 300;
	//letter-spacing: -0.015em;
}

@media (max-width: @grid-float-breakpoint-max) {
	body > .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	//width: 1030px;
	//max-width: none !important;
}

/**
* Generate .g-mt10, .g-mt-20, .g-mb10 classes
*/
@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

.margin-left-loop (@i) when (@i > 0) {
	.g-ml@{i}0 {
		margin-left: @i * 10px !important;
	}

	.margin-left-loop(@i - 1);
}

.margin-left-loop(@iterations);

.margin-right-loop (@i) when (@i > 0) {
	.g-mr@{i}0 {
		margin-right: @i * 10px !important;
	}

	.margin-right-loop(@i - 1);
}

.margin-right-loop(@iterations);

/**
* Generate .g-pt10, .g-pt20, .g-pb10 classes
*/

.padding-top-loop (@i) when (@i > 0) {
	.g-pt@{i}0 {
		padding-top: @i * 10px !important;
	}

	.padding-top-loop(@i - 1);
}

.padding-top-loop(@iterations);

.padding-bottom-loop (@i) when (@i > 0) {
	.g-pb@{i}0 {
		padding-bottom: @i * 10px !important;
	}

	.padding-bottom-loop(@i - 1);
}

.padding-bottom-loop(@iterations);

.padding-left-loop (@i) when (@i > 0) {
	.g-pl@{i}0 {
		padding-left: @i * 10px !important;
	}

	.padding-left-loop(@i - 1);
}

.padding-left-loop(@iterations);

.padding-right-loop (@i) when (@i > 0) {
	.g-pr@{i}0 {
		padding-right: @i * 10px !important;
	}

	.padding-right-loop(@i - 1);
}

.padding-right-loop(@iterations);

.super-transition() {
	-webkit-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition: all 300ms cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */

	-webkit-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-moz-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	-o-transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985);
	transition-timing-function: cubic-bezier(0.815, 0.225, 0.510, 0.985); /* custom */
}

.resizable-x {
	.resizable(horizontal);
}

.resizable-y {
	.resizable(vertical);
}

.btn {
	text-transform: uppercase;
}

.btn-default {
	color: @text-color;
	background: linear-gradient(to bottom, #bdbdbd, #ffffff);
	border: 3px solid #e0e0e0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);

	&:hover, &:active, &:focus {
		border-color: #f0f0f0;
		background: linear-gradient(to bottom, #dedede, #ffffff);
	}
}

.btn-success {
	color: #fff;
	background: linear-gradient(to bottom, #005426, #007b38);
	border: 3px solid #006e32;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .5);

	&:hover, &:active, &:focus {
		border-color: #005e2b;
		background: linear-gradient(to bottom, #004720, #006830);
	}
}

.modal-header {
	background: linear-gradient(to right, #005426, #007b38);
	border: none;

	.close {
		width: 40px;
		height: 40px;
		background: center center no-repeat url("../../assets/img/close.svg");
		cursor: pointer;
		opacity: 1;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		background-size: 35px;
		margin-top: 0;
	}
}

.modal-content {
	border: none;
	border-radius: 0;
}

.modal-body {
	padding: 0;
}

.modal-dialog {
	margin: 0;
	min-height: 100vh;
}

.modal-content {
	min-height: 100vh;
}

.fancybox-overlay {
	background: rgba(255, 255, 255, .5);
}

.fancybox-skin {
	border-radius: 0;
}

.fancybox-close {
	background: none;

	right: 20px;
	top: 20px;

	color: #fff;
	position: absolute;
	margin-top: 0;
	margin-left: 0;
	width: 24px;
	height: 24px;
	opacity: .5;

	&:hover {
		opacity: 1;
		color: #fff;
	}

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		width: 24px;
		height: 3px;
		background-color: currentColor;
		transform: rotate(-45deg);
	}

	&:after {
		content: '';
		position: absolute;
		top: 10px;
		width: 24px;
		height: 3px;
		background-color: currentColor;
		transform: rotate(45deg);
	}
}

@media (max-width: @screen-xs-max) {
	.fancybox-type-inline {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		width: auto !important;
		height: auto !important;

		.fancybox-skin, .fancybox-outer, .fancybox-inner {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: auto !important;
			height: auto !important;
		}
	}
}
