@import "variables.less";
@import "mixins";

.b-sort {
	color: @text-muted;
	line-height: 1;
}

.b-sort__header {

}

.b-sort__item {
	color: @text-muted;
	margin-left: 16px;

	&.asc, &.desc {
		color: @text-color;

		&:hover, &:active, &:focus {
			color: @text-color;
		}
	}

	&:hover, &:active, &:focus {
		color: @text-muted;
	}
}
