@import "variables.less";
@import "mixins";

.b-object-properties {

}

.b-object-properties__item {
}

.b-object-properties__title {
	font-size: 20px;
	line-height: 25px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.b-object-properties__properties {

}
