@import "variables.less";
@import "mixins";

.b-catalog-offer {
	position: absolute;
	top: 54px;
	right: -1px;
}

.b-catalog-offer__ribbon {
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(to right, #005426, #007b38);
	padding: 5px 15px;
	cursor: default;
}

.b-catalog-offer__content {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
	position: absolute;
	background: #212121;
	color: #fff;
	box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
	padding: 20px;

	top: 40px;
	right: 0;
	//left: 50%;
	//transform: translateX(-50%);
	width: 320px;
	z-index: 100;

	&:before {
		position: absolute;
		top: -40px;
		left: 0;
		right: 0;
		height: 40px;
		content: '';

		background: transparent;
	}
}

.b-catalog-offer__image {
	margin-bottom: 15px;
}

.b-catalog-offer__title {
	font-size: 20px;
	line-height: 25px;
}

.b-catalog-offer__text {
	margin-bottom: -15px;
}

.b-catalog-offer:hover .b-catalog-offer__content {
	display: block;
	visibility: visible;
	opacity: 1;
}
