@import "variables.less";
@import "mixins";

.b-favorite {
	color: #6e1478;
	text-transform: uppercase;
	padding: 4px 0 0 27px;
	margin-top: -4px;
	margin-bottom: -10px;
	background: 0 0 no-repeat url("../../assets/img/star-outline_gradient.svg");
	cursor: pointer;
}

.b-favorite_active {
	background-image: url("../../assets/img/star_gradient.svg");
}
