doctype html
html
    include ../includes/head.jade
    body
        .container
            .b-page
                .b-page__container
                    include ../includes/navbar.jade

                    .b-page__content
                        block content

                    include ../includes/footer.jade
