@import "variables.less";
@import "mixins";

.b-properties {

}

.b-properties__item {
	display: flex;
	flex-flow: row nowrap;

	margin-bottom: 10px;
}

.b-properties__title {
}

.b-properties__dots {
	position: relative;
	top: -5px;

	background: left bottom repeat-x url("../../assets/img/properties-dot.png");
	margin-left: 2px;
	margin-right: 2px;
	flex: 1;
}

.b-properties__value {
}

.b-properties__link {
	text-decoration: underline;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}
