@import "variables.less";
@import "mixins";

.b-text {
	img {
		.img-responsive();
		margin-top: 15px;
		margin-bottom: 15px;
	}
	table {
		margin: 15px 0;

		th {
			background: #e0e0e0;
		}
		td, th {
			border: 1px solid #e0e0e0;
			padding: 9px 12px 9px 11px;
		}
	}
	ol, ul {
		padding-left: 25px;

		li {
			margin-bottom: 10px;
		}
	}

	h1 {
		font-size: 20px;
		line-height: 25px;
		margin-top: 0;
	}
}

@media (min-width: @grid-float-breakpoint) {
	.b-text {
		img {
			float: left;
			margin-top: 5px;
			margin-right: 20px;
		}
	}
}
