@import "variables.less";
@import "mixins";

.b-card-offer {
	.clearfix();
}

.b-card-offer__image {
	margin-bottom: 18px;
}

.b-card-offer__title {
	font-size: 20px;
	line-height: 25px;
}

.b-card-offer__label {
	font-size: 27px;
	line-height: 25px;
	color: #006e32;
	text-transform: uppercase;
	margin-right: 2px;
}

.b-card-offer__text {

}

@media (min-width: @screen-sm-min) {
	.b-card-offer__image {
		width: 280px;
		float: left;
		margin-bottom: 0;
	}

	.b-card-offer__title {
		margin-left: 300px;
		margin-top: -2px;
	}

	.b-card-offer__text {
		margin-left: 300px;
		margin-bottom: -10px;
	}
}
