@import "variables.less";
@import "mixins";

.b-contacts {
	margin-top: 30px;
}

.b-contacts__item {
	margin-bottom: 30px;
}

.b-contacts__title {
	font-size: 20px;
	line-height: 25px;
}

.b-contacts__map {
	height: 440px;
	margin-top: 5px;
}

.b-contacts__link {
	text-decoration: underline;
	cursor: pointer;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}
