@import "variables.less";
@import "mixins";

.b-pagination {
	.clearfix();
}

.b-pagination__item {
	float: left;
	margin-right: 10px;
}

.b-pagination__item_active {
	.b-pagination__link {
		&, &:hover, &:active, &:focus {
			border-color: #212121;
			background: #212121;
			color: #fff;
		}
	}
}

.b-pagination__link {
	color: #212121;
	text-decoration: none;
	border: 1px solid #e0e0e0;
	display: inline-block;
	padding: 14px 0;
	width: 50px;
	text-align: center;

	&:hover, &:active, &:focus {
		color: #212121;
		text-decoration: none;
		border-color: #212121;
	}
}
