@import "variables.less";
@import "mixins";

.b-filter {
	margin-bottom: 40px;
}

.b-filter__header {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	margin-bottom: 15px;
}

.b-filter__item {
	margin-bottom: 20px;
}

.b-filter__input {
	&, &:focus {
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
		border: none;
		color: @text-color;
	}
}

.b-filter__radio {
	display: flex;
	flex-flow: row wrap;

	input[type="radio"] {
		display: none;
	}
	label {
		border: 1px solid transparent;
		border-radius: 4px;
		font-weight: normal;
		flex-basis: 50%;
		text-align: center;
		padding: 9px 0;
		cursor: pointer;
		margin-bottom: 0;
	}

	input[type="radio"]:checked + label {
		border: 1px solid #aa3282;
	}
}

.b-filter__checkbox {
	input[type="checkbox"] {
		display: none;
	}
	label {
		display: inline-block;
		position: relative;
		font-weight: normal;
		cursor: pointer;
		margin-bottom: 0;
		padding-left: 27px;
		margin-right: 22px;

		&:last-child {
			margin-right: 0;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			content: '';

			background: #fafafa;
			box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
			border-radius: 2px;
		}

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			content: '';

			background: center center no-repeat url("../../assets/img/check.svg");
			background-size: 20px;

			display: none;
		}
	}

	input[type="checkbox"]:checked + label:after {
		display: block;
	}
}

.b-filter__label {
	display: block;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 9px;
}

.b-filter__button {
	padding-top: 7px;
	padding-bottom: 7px;
}

@media (min-width: @screen-sm-min) {
	.b-filter__checkbox {
		label {
			margin-right: 9px;
		}
	}
}

@media (min-width: @screen-md-min) {
	.b-filter__checkbox {
		label {
			margin-right: 5px;
		}
	}
}

@media (min-width: @screen-lg-min) {
	.b-filter__checkbox {
		label {
			margin-right: 22px;
		}
	}
}
