@import "variables.less";
@import "mixins";

.b-catalog {
	margin-top: 30px;
	margin-bottom: 30px;
}

.b-catalog__header {
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 15px;
}

.b-catalog__sort {
	margin-bottom: 17px;
}

.b-catalog__list {

}

.b-catalog__item {
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 0 18px 4px;

	position: relative;

	&:hover {
		border-color: #007b38;
	}
}

.b-catalog__favorite {
	position: absolute;
	top: 7px;
	left: 7px;
	width: 40px;
	height: 40px;
	background: center center no-repeat url("../../assets/img/star-outline_gradient.svg");
	cursor: pointer;
}

.b-catalog__favorite_active {
	background-image: url("../../assets/img/star_gradient.svg");
}

.b-catalog__favorite_remove {
	background-image: url("../../assets/img/close_gradient.svg");
}

.b-catalog__cover {
	text-align: center;
	margin-top: 34px;
}

.b-catalog__image {
	display: none;
}

.b-catalog__expand {
	display: block;
	text-align: left;
	padding: 25px 0;
}

.b-catalog__cover_expanded {
	.b-catalog__image {
		display: inline;
	}

	.b-catalog__expand {
		display: none;
	}
}

.b-catalog__title {
	font-size: 20px;
	line-height: 25px;
	text-decoration: underline;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: -5px;

	&:hover, &:active, &:focus {
		text-decoration: none;
	}
}

.b-catalog__price {
	position: absolute;
	top: 11px;
	right: 18px;
}

.b-catalog__button {
	margin-bottom: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.b-catalog__properties {

}

.b-catalog__offer {
}

.b-catalog__pagination {
}

@media (min-width: @screen-sm-min) {
	.b-catalog {
		margin-top: 30px;
	}

	.b-catalog__sort {
		position: relative;
		text-align: right;
		top: 9px;
	}

	.b-catalog__header {
		margin-bottom: 15px;
	}

	.b-catalog__header_big {
		font-size: 27px;
		line-height: 30px;
	}

	.b-catalog__list {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		margin-left: -10px;
		margin-right: -10px;
	}

	.b-catalog__item {
		width: ~"calc(100%/2 - 20px)";
		margin-left: 10px;
		margin-right: 10px;
	}

	.b-catalog__list_count_4 .b-catalog__item {
		width: ~"calc(100%/3 - 20px)";
	}

	.b-catalog__cover {
	}

	.b-catalog__image {
		display: inline;
	}

	.b-catalog__expand {
		display: none;
	}
}

@media (min-width: @screen-lg-min) {
	.b-catalog__item {
		width: ~"calc(100%/3 - 20px)";
	}

	.b-catalog__list_count_4 .b-catalog__item {
		width: ~"calc(100%/4 - 20px)";
	}
}
