.b-footer © ООО «НКС», 2016
.hidden
    .b-callback-form.b-callback-form_modal#modal
        p.b-callback-form__title Заказ звонка
        p.b-callback-form__text Оставьте свои контактные данные и мы Вам перезвоним

        form.b-callback-form__form
            .row
                .col-md-6.col-sm-6
                    .form-group.has-error
                        label.control-label.error Как к Вам обратиться?
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-6.col-sm-6
                    .form-group.has-error
                        label.control-label.error Телефон
                        input.form-control.error
                        .help-block.error Текст ошибки
                .col-md-6.col-md-offset-3
                    button.btn.btn-default.btn-block.b-callback-form__button(type="submit") Отправить
            .b-callback-form__legend Нажимая на кнопку ОТПРАВИТЬ, я даю #[a(href='#') согласие на обработку персональных данных]
