head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')

    title #{title}
    meta(name="description", content="")

    block styles
        //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i', type='text/css')
        link(rel='stylesheet', href='assets/fonts/stylesheet.css')
        link(rel='stylesheet', href='assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick.css')
        link(rel='stylesheet', href='assets/vendor/slick-carousel/slick/slick-theme.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        link(rel='stylesheet', href='assets/vendor/fancybox/source/jquery.fancybox.css?v=2.1.5', media='screen')
        link(rel='stylesheet', href='assets/vendor/jquery.scrollbar/jquery.scrollbar.css')
        //link(rel='stylesheet', href='assets/vendor/odometer/themes/odometer-theme-minimal.css')
        link(rel='stylesheet', href='assets/css/common.min.css')

    block scripts
        script(src='assets/vendor/jquery/dist/jquery.min.js')
        script(src='assets/vendor/bootstrap/dist/js/bootstrap.min.js')
        //script(src='assets/vendor/masonry/dist/masonry.pkgd.min.js')
        script(src='assets/vendor/slick-carousel/slick/slick.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='assets/vendor/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
        script(src='assets/vendor/fancybox/source/helpers/jquery.fancybox-media.js')
        script(src='assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js')
        script(src='assets/vendor/jquery-zoom/jquery.zoom.min.js')
        //script(src='https://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU')
        //script(src='assets/vendor/odometer/odometer.min.js')
        //script(src='assets/js/emerge.js')
        script(src='assets/js/script.js')
