.b-header
    a.b-header__logo(href='index.html') Агентство Недвижимости

    .pull-right.text-right
        p.b-header__phone +7(343) 232-96-96
        a.b-header__link.fancybox-inline(href='#modal') Заказать звонок
