<!--[if lte IE 8]>
p.browserupgrade.
    You are using an #[strong outdated] browser.
    Please #[a(target="_blank", href="http://browsehappy.com/") upgrade your browser] to improve your experience.
<!--<![endif]-->

nav.navbar.navbar-default.b-navbar
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            //a.navbar-brand(href='#') Brand
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            .navbar-header
                button.navbar-toggle(type='button', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            ul.nav.navbar-nav
                li.active: a(href='search.html') Подбор недвижимости
                li: a(href='objects.html') Объекты
                li: a(href='about.html') Об агенстве
                li: a(href='offers.html') Акции
                li: a(href='#') Гарантии
                li: a(href='contacts.html') Контакты
            ul.nav.navbar-nav.navbar-right
                li.active: a.b-navbar__favorite.b-navbar__favorite_active(href='favorite.html') Избранное
