@import "variables.less";
@import "mixins";

.b-callback-form {
	background: linear-gradient(to top, #007b38, #005426);
	padding: 15px 20px 20px;
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 40px;
}

.b-callback-form_modal {
	margin: 0 !important;
	padding: 60px 20px 20px !important;

	.b-callback-form__button {
		margin-top: 0 !important;
	}

	@media (max-width: @screen-xs-max) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.b-callback-form__title {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
}

.b-callback-form__text {
	text-align: center;
	color: #ffffff;
}

.b-callback-form__form {
	label {
		font-weight: normal;
		color: #85c1a0;
	}

	.form-control {
		background-color: #005426;
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
		border: none;
		color: #fff;
	}

	.has-error {
		&.form-group {
			margin-bottom: 10px;
		}
		.control-label {
			color: #85c1a0;
		}
		.form-control {
			border: 1px solid #ff7f7f;
		}
	}
}

.b-callback-form__button {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 20px;
}

.b-callback-form__legend {
	color: #ffffff;
	margin-top: 15px;
	margin-bottom: 10px;

	a {
		color: #fff;
		text-decoration: underline;

		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

.b-callback-form_light {
	background: none;

	.b-callback-form__legend {
		color: @text-color;
		
		a {
			color: @link-color;
		}
	}
	.b-callback-form__title {
		color: @text-color;
		text-align: left;
		margin-bottom: 10px;
	}
	.b-callback-form__text {
		color: @text-color;
		text-align: left;
	}
	label {
		color: #9e9e9e;
	}

	.form-control {
		background-color: @input-bg;
		color: @text-color;
	}

	.b-callback-form__button {
		margin-top: 20px;
	}

	.has-error {
		.control-label {
			color: #9e9e9e;
		}
		.form-control {
			border: 1px solid #d92121;
		}
		.help-block {
			color: #d92121;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.b-callback-form__button {
		margin-top: 0;
	}

	.b-callback-form_light {
		.b-callback-form__button {
			margin-top: 25px !important;
		}
	}
}

@media (min-width: @grid-float-breakpoint) {
	.b-callback-form {
		margin-top: 20px;
		padding-bottom: 5px;
	}

	.b-callback-form__button {
		margin-top: 25px !important;
	}

	.b-callback-form_light {
		padding-bottom: 0;
	}
}
