@import "variables.less";
@import "mixins";

.b-card-property {
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: -5px;
}

.b-card-property__value {
	display: inline-block;
	font-size: 27px;
	line-height: 30px;
}

.b-card-property_right {

}

@media (min-width: @grid-float-breakpoint) {
	.b-card-property {
		display: inline-block;
		font-size: 27px;
		line-height: 40px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 26px;
	}

	.b-card-property__value {
		font-size: 40px;
		line-height: 1;
	}

	.b-card-property_right {
		float: right;
	}
}
