@import "variables.less";
@import "mixins";

.b-navbar {
	border: none;
	text-transform: uppercase;

	.navbar-nav > li {
		border-style: solid;
		border-width: 0;
		border-right-width: 1px;
		border-color: mix(#57105e, #902a6e, 50%);
		border-image: linear-gradient(to bottom, #57105e, #902a6e) 1 100%;

		&:last-child {
			border-width: 0 !important;
		}
	}

	.navbar-collapse {
		@media (min-width: @grid-float-breakpoint) {
			padding-left: 0;
			padding-right: 0;
			margin-left: -@navbar-padding-horizontal;
		}
	}

	@media (max-width: @grid-float-breakpoint-max) {
		.navbar-toggle {
			float: none;
			//position: absolute;
			//left: 50%;
			//transform: translateX(-50%);
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: none;
			padding-top: 8px;
		}
	}

	.navbar-toggle .icon-bar {
		width: 28px;
		height: 3px;
	}

	.navbar-collapse.in {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(to right, #6e1478, #aa3282);
		overflow-x: hidden;
		overflow-y: auto;
		border: none;
		z-index: @zindex-navbar + 1;

		.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
		}

		.navbar-nav > li {
			border-width: 0 0 1px 0;
			border-image: linear-gradient(to right, #57105e, #902a6e) 100% 1;
		}
		.navbar-nav > li > a {
			padding-top: 26px;
			padding-bottom: 25px;
			padding-left: 29px;

			&:hover, &:focus {
				background: linear-gradient(to right, #7a1685, #b7368c);
			}
		}
		.navbar-nav > .active > a,
		.navbar-nav > .active > a:focus,
		.navbar-nav > .active > a:hover {
			background: linear-gradient(to right, #57105e, #902a6e);

			&.b-navbar__favorite {
				background: 29px 21px no-repeat url("../../assets/img/star-outline.svg"), linear-gradient(to right, #57105e, #902a6e) !important;
			}

			&.b-navbar__favorite_active {
				background: 29px 21px no-repeat url("../../assets/img/star.svg"), linear-gradient(to right, #57105e, #902a6e) !important;
			}
		}

		.navbar-nav + .navbar-nav {
			border-style: solid;
			border-color: mix(#57105e, #902a6e, 50%);
			border-width: 1px 0 0 0;
			border-image: linear-gradient(to right, #57105e, #902a6e) 100% 1;
		}

		.b-navbar__favorite {
			background-position: 29px 21px;
			padding-left: 60px !important;

			&:hover,
			&:focus {
				background: 29px 21px no-repeat url("../../assets/img/star-outline.svg"), linear-gradient(to right, #7a1685, #b7368c) !important;
			}
		}
		.b-navbar__favorite_active {
			background-position: 29px 21px;

			&:hover,
			&:focus,
			&:active {
				background: 29px 21px no-repeat url("../../assets/img/star.svg"), linear-gradient(to right, #7a1685, #b7368c) !important;
			}
		}
	}

	.navbar-nav > .active > a,
	.navbar-nav > .active > a:focus,
	.navbar-nav > .active > a:hover {
		&.b-navbar__favorite {
			background: 10px 21px no-repeat url("../../assets/img/star-outline.svg"), @navbar-default-link-active-bg !important;
		}

		&.b-navbar__favorite_active {
			background: 10px 21px no-repeat url("../../assets/img/star.svg"), @navbar-default-link-active-bg !important;
		}
	}
}

.b-navbar__favorite {
	background: 10px 21px no-repeat url("../../assets/img/star-outline.svg");
	background-size: 24px;
	padding-left: 42px !important;

	&:hover,
	&:focus {
		background: 10px 21px no-repeat url("../../assets/img/star-outline.svg"), @navbar-default-link-hover-bg !important;
	}
}

.b-navbar__favorite_active {
	background: 10px 21px no-repeat url("../../assets/img/star.svg");

	&:hover,
	&:focus {
		background: 10px 21px no-repeat url("../../assets/img/star.svg"), @navbar-default-link-hover-bg !important;
	}
}
