@import "variables.less";
@import "mixins";

.b-working-hours {
	.clearfix();

	text-align: center;
	margin-top: -5px;
	margin-bottom: 35px;
}

.b-working-hours__column {
	float: left;
	width: 100%/7;
	padding-top: 5px;
	padding-bottom: 5px;
}

.b-working-hours__column_current {
	background: linear-gradient(to bottom, #005426, #007b38);
	color: #fff;
}

.b-working-hours__column_weekend {
	background: linear-gradient(to bottom, #6e1478, #aa3282);
	color: #fff;
}

.b-working-hours__title {
}

.b-working-hours__value {
	margin-bottom: 0;
}
