@import "variables.less";
@import "mixins";

.b-offers {
	margin-top: 35px;
}

.b-offers__item {
	border-bottom: 1px solid #212121;
	margin-bottom: 40px;
	padding-bottom: 25px;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
	}
}

.b-offers__img {
	margin-bottom: 15px;
}

.b-offers__title {
	font-size: 20px;
	line-height: 25px;
	margin-top: 0;
}

.b-offers__text {
	margin-bottom: 10px;
}

.b-offers__items {

}

@media (min-width: @grid-float-breakpoint) {
	.b-offers {
		margin-top: 30px;
	}

	.b-offers__item {
		margin-bottom: 35px;
	}

	.b-offers__img {
		width: 380px;
		float: left;
		margin-top: 5px;
	}

	.b-offers__content {
		margin-left: 400px;
	}
}
