@import "variables.less";
@import "mixins";

.b-object-documents {
	margin-top: -15px;
	margin-bottom: -15px;
}

.b-object-documents__item {
	padding-left: 42px;
	background: -8px 1px no-repeat url("../../assets/img/file-document.svg");
	background-size: 48px;

	margin-top: 30px;
	margin-bottom: 30px;
}

.b-object-documents__title {
	color: #fff;
	text-decoration: underline;

	&:hover, &:active, &:focus {
		color: #fff;
		text-decoration: none;
	}
}

.b-object-documents__info {
	color: #007b38;
	margin-top: 10px;
	margin-bottom: 0;
}

@media (min-width: @screen-xs-min) {
	.b-object-documents {
		display: flex;
		flex-flow: row wrap;
		margin-left: -10px;
		margin-right: -10px;
		margin-bottom: 15px;
	}

	.b-object-documents__item {
		flex-basis: ~"calc(100%/2 - 20px)";

		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0;
	}
}

@media (min-width: @screen-md-min) {
	.b-object-documents__item {
		flex-basis: ~"calc(100%/3 - 20px)";
	}
}

@media (min-width: @screen-lg-min) {
	.b-object-documents__item {
		flex-basis: ~"calc(100%/4 - 20px)";
	}
}
