@import "variables.less";
@import "mixins";

.b-feedback-form {
	margin-top: -2px;
	margin-bottom: 40px;
}

.b-feedback-form__title {
	font-size: 20px;
	line-height: 25px;
}

.b-feedback-form__text {

}

.b-feedback-form__form {
	label {
		font-weight: normal;
		color: #9e9e9e;
	}

	.form-control {
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, .33);
		border: none;
	}

	textarea {
		height: 260px;
	}

	.has-error {
		&.form-group {
		}
		.form-control {
			border: 1px solid #d92121;
		}
	}
}

.b-feedback-form__button {
	margin-top: 22px;
}

@media (min-width: @screen-sm-min) {
	.b-feedback-form {
		margin-top: 30px;
		margin-bottom: 25px;
	}

	.b-feedback-form__button {
		margin-top: 20px;
	}
}
